[2021-06-24 16:06] jcohenadad opened #9 "Notebook for spinal cord analysis"
### Context

The purpose of this issue is to come up with a plan for presenting/formatting the output of the spinal cord analysis on the notebook.

### Suggestion 1

Use results from the latest release, eg: [here](https://github.com/courtois-neuromod/anat-processing/releases/download/r20210610/spinalcord_results.zip)

Display one plot per metric. Each tick in the abscissa corresponds to one subjec

[2021-07-02 23:10] zelenkastiot opened #1 "# Tasks from office hours"
The issue for logging tasks from meetings

[2021-07-02 23:11] zelenkastiot commented on #1
## Office hours held on Friday 03-Jul-21
- [ ] Display T<sub>1</sub>w /  T<sub>2</sub>w results
- [ ] Add reference horizontal lines
- [ ] Diserable metrics for dropdown menu:
  - [ ] *MEAN (area)*
  - [ ] *MEAN (RL)*
  - [ ] *MEAN (AP)*
  - [ ] *MEAN (angle_AP)*

[2021-07-05 17:00] jcohenadad opened #3 "Feedback on notebook"
Here is some feedback on notebook commit 01fb76a6dfc1ef322f37ddd8f63e6c210c091b36

- General comment: great start! The layout is beautiful and intuitive. Great job!
- Under logo change "Spinal cord analysis" for "Anatomical analysis"

Note that i've created an account to Hypothesis so I also annotated directly on the notebook (very convenient!). I've also opened PR when changes were on the MD file

[2021-07-05 19:06] zelenkastiot commented on #3
Hello @jcohenadad,

I managed to:
- merge the PR
- rebuild the book with the modified intro and title
- removed the csv display
- modify all of the changes from the Hypothesis comments regarding the plots

Please let me know if I did everything correctly. [Here](https://courtois-neuromod.github.io/anat-processing-book/01/1-test.html) is the link to the notebook

[2021-07-05 20:11] jcohenadad opened #5 "Loosing link when annotating with Hypothesis"
When creating an annotation on the notebook using Hypothesis, if the annotation is addressed and another notebook is generated, it looks like the link send in response to the annotation is lost.

Ex: here is an email I received:
![image](https://user-images.githubusercontent.com/2482071/124514614-7068e200-ddab-11eb-9224-d3cef8299844.png)

When I click on [View the thread and respond](https://mandr

[2021-07-05 20:15] jcohenadad opened #6 "What's the red dashed line?"
![image](https://user-images.githubusercontent.com/2482071/124514924-2c2a1180-ddac-11eb-89ea-388489000d05.png)

Also, I would add in the legend what it means

[2021-07-05 20:16] jcohenadad opened #7 "Add horizontal light lines at yticks on plots"
![image](https://user-images.githubusercontent.com/2482071/124514990-54197500-ddac-11eb-94d9-f8d28343fbd1.png)

Adding horizontal lines as done here would help:
![image](https://user-images.githubusercontent.com/2482071/124515024-65628180-ddac-11eb-9701-250ca4f487cd.png)

[2021-07-05 20:21] jcohenadad commented on #3
beautiful! i've added more comments/opened issues. I think we can close this issue which is no more specific.

[2021-07-05 20:21] #3 closed

[2021-07-05 23:20] zelenkastiot commented on #7
@jcohenadad that was primarily what I intended to do with the red line from #6. I can modify it to black and add a name for it in the legend? How should I reference it

[2021-07-05 23:25] zelenkastiot commented on #5
Hmm, it is not a bug since those cells where the comments were are now hidden/deleted. For the time being it is okay that we use it to comment since we always first comment then change it, at least before releasing the final version.  After the release of the book, I think it is a cool way to use this feature

[2021-07-06 01:37] jcohenadad commented on #7
ah! now i understand the confusion. I was referring to the horizontal lines at the yticks (red arrows):
![124515024-65628180-ddac-11eb-9701-250ca4f487cd](https://user-images.githubusercontent.com/2482071/124529689-1d0d8880-ddd9-11eb-94e8-e7342a54ce97.png)

let's talk about the red dashed line in the other issue #6

[2021-07-06 10:04] zelenkastiot commented on #7
They are like e default of the Plotly library, I usually remove them. Should I add them?

[2021-07-06 10:05] zelenkastiot commented on #6
The red line was an attempt to do a reference line like the one we mentioned in our last meeting.
I can modify it to black and add a name for it in the legend? How should I reference it?

For example the reference line would look like this:

![image](https://user-images.githubusercontent.com/37374247/124524953-80111680-ddfd-11eb-9406-c68f22824ba0.png)

And on hover you can get the value of the y-a

[2021-07-06 12:14] jcohenadad commented on #6
but what is this reference line? what does it represent? the mean? the median? something else? that’s what needs to be mentioned.
and if the mean: mean of what? all contrasts? only T2w?

[2021-07-09 15:38] jcohenadad commented on #6
@zelenkastiot Mathieu clarified what the reference line meant (ie: currently arbitrary, it was just for the purpose of showing what a reference line would like).

So yes: it would be great to have:
- one line (the one you show in https://github.com/courtois-neuromod/anat-processing-book/issues/6#issuecomment-874631895) that represents the mean and standard deviation across all subjects for T1w dat

[2021-07-23 14:39] jcohenadad commented on #6
hi @zelenkastiot, i was wondering if there was any update on this issue?

[2021-07-23 14:39] jcohenadad commented on #7
hi @zelenkastiot, i was wondering if there was any update on this issue?

[2021-07-23 14:43] jcohenadad opened #8 "Create script Jupyter notebook to extract metrics and generate sexy figures"
The purpose of this issue is to lay down a strategy for the Jupyter book. Also see this [google document](https://docs.google.com/document/d/1ePCEuTKjdUHvQwY1av-y3YlCQgrDZVUo5EzpBuRfRLs/edit).

For brain data:
- Load CSV (eg: average T1 in white matter), and display intra-subject plots (eg as points and/or violin) in a 2d plot (eg: one subject is one column). The interactivity would be to _see_ th

[2021-07-23 14:43] mathieuboudreau commented on #1
## 📅 Office hours held on Friday 23-Jul-21

* [ ] Need to change notebook to be less "dummy notebook" (more scientific content.
* [ ] One or more figures similar to the current one but showing the results in the brain.
  * @jcohenadad says that @agahkarakuzu should have the data to give. See https://github.com/courtois-neuromod/anat-processing-book/issues/8
  *

[2021-07-23 14:49] jcohenadad opened #10 "Add context in the notebook"
Currently the notebook only has one fig for spinal cord results, without context.

We need to:
- [ ] add an intro
- [ ] add rationale/methods for brain analyses
- [ ] add rationale/methods for SC analyses
- [ ] discussion/conclusion

[2021-07-25 22:35] zelenkastiot commented on #6
Hello @jcohenadad, sorry for this late reply. I had something done for the office hours meeting 2 days ago, but unfortunately, I wasn't able to make it.

This is something that I whooped up:

![image](https://user-images.githubusercontent.com/37374247/126915356-c01654df-99b7-44aa-8f91-246ef765068c.png)

I calculated the means for each session, but I didn't know how to name them since for me they a

[2021-07-25 22:38] zelenkastiot commented on #10
Hello @jcohenadad, I can add chapters in the book in no time I only need the markdown text for each chapter, since I don't know what exactly to put inside as context.

If you send me the text I can manage to add the chapters, latex formulas, please let me know how you envisioned it.

[2021-07-25 22:40] zelenkastiot commented on #7
Since the two issues are overlapping I commented in #6 explaining the last local updates I worked on.

[2021-07-25 22:49] zelenkastiot commented on #5
Hello @jcohenadad, should we close this issue since it's more of a bug on the Hypothesis side? 😃

[2021-07-27 01:18] #5 closed

[2021-07-27 01:24] jcohenadad commented on #6
@zelenkastiot I like this one:
![image](https://user-images.githubusercontent.com/2482071/127079907-0138a778-189d-4206-9a87-e81fb495d976.png)

But could you make the following changes:
- reduce opacity on the STD to mitigate the problem we see for the Angle metric
- Add horizontal lines as discussed in https://github.com/courtois-neuromod/anat-processing-book/issues/7#issuecomment-886267711
- Lege

[2021-07-27 01:46] jcohenadad commented on #10
Intro:

Magnetic resonance imaging (MRI) comes with different flavours-- or as physicists would call it: pulse sequences. A pulse sequence is a bit like a musical orchestra. There are different instruments and each play at a particular time and with a particular pitch (frequency) and amplitude. In an MRI pulse sequence, the instruments are the hardware (gradients, RF controller, antenna, etc.). By

[2021-07-27 10:28] zelenkastiot commented on #6
Hey @jcohenadad, I pushed the last version of the plot I had locally. Let me know what you think 😃

![image](https://user-images.githubusercontent.com/37374247/127139323-681254ce-d7e6-48ce-9678-e587a8dac9d8.png)

[2021-07-27 14:09] jcohenadad commented on #10
@zelenkastiot thank you, I'll take it from there and directly add content in the notebook, it will be easier

[2021-07-27 14:09] jcohenadad opened #11 "Is there a way to automatize numbering of figure/tables in the notebook?"

[2021-07-27 14:10] jcohenadad opened #12 "Is there a way to manage references in a book?"

[2021-07-27 14:15] jcohenadad opened #13 "How to build the notebook locally?"
Is there a way to build the notebook locally? It would be easier than to edit the notebook on internet

[2021-07-27 14:18] mathieuboudreau commented on #13
Can you clarify if you mean *use the notebook locally* or *build the jupyter book locally&?

If it's the first, yes I think you should be able to if you have Docker installed on your computer and use [repo2docker](https://github.com/jupyterhub/repo2docker) to generate & launch the docker file. @agahkarakuzu has more experience in doing this locally, so he can advise further.

[2021-07-27 14:20] mathieuboudreau commented on #13
Though if I recall correctly, I think Agah is offline today and tomorrow, so if this is urgent I could re-try to install Docker on my laptop (I believe it's been made M1-compatible) and give it a shot, and if it works send you instructions.

[2021-07-27 14:24] jcohenadad commented on #13
I think this is what i was looking for: https://github.com/jupyter/notebook#installation

[2021-07-27 14:25] jcohenadad commented on #13
i'll document in the readme how to build locally

[2021-07-27 14:28] jcohenadad commented on #13
I see that the folder "_build" is present in the repository. Is this normal? For example with RTD the build is done by RTD backend and then the _build/html/index.html is exposed by the server hosting the website.

In this case, I assume Github is hosting the website, but cannot Github do the build as well? That would prevent duplicating the source and the built images.

[2021-07-27 14:42] mathieuboudreau commented on #13
I know Jupyter Books could be built by GitHub previously, but they change their whole infrastructure so often that I've lost track if their more recent version has made that more difficult. @zelenkastiot can provide input on the current version I think.

[2021-07-27 14:42] zelenkastiot commented on #11
I think that the figures are automatically numbered (Check [this](https://jupyterbook.org/content/figures.html#figures) for a better explanation). Just use this code:

[code]

And the output is for example:
![image](https://user-images.githubusercontent.com/37374247/127174554-65eecfd4-4d44-420b-a4f9-91944b144ce3.png)

[2021-07-27 14:44] zelenkastiot commented on #12
Yes, there is in the new versions. But I haven't used it yet. I can try tough. Check [this](https://jupyterbook.org/content/citations.html?highlight=references) out

[2021-07-27 14:53] zelenkastiot commented on #13
So the steps (for build explained in more detail [here](https://jupyterbook.org/start/build.html), for deployment [here](https://jupyterbook.org/start/publish.html)) for building and deploying the book are:
- Run and save notebook locally
- With prompt go outside the book, for example <code>book_demo</code> is the folder contatining the notebooks/markdown files. Go outside the <code>book_demo</cod

[2021-07-27 15:11] agahkarakuzu commented on #13
@jcohenadad there should be a GitHub action that triggers an html build (sphynx based) and pushes built sources to the gh-pages branch for serving the book.

The above assumes that the notebook outputs are saved by the user. It does not execute the whole notebook to regenerate outputs in book's environment (numpy, plotly etc). That's something we can do with Neurolibre :)

Bottomline, provided tha

[2021-07-27 15:13] jcohenadad commented on #13
thank you @agahkarakuzu for chipping in-- i would find it more elegant to have a GH action deploy the website for us. @zelenkastiot is this something you can work on? If you don't have the time, no worries i'll find someone else

[2021-07-27 15:20] agahkarakuzu commented on #13
@zelenkastiot github action requires adding someone's token with push access. Let me know when you need it if you undertake this task.

[2021-07-27 16:53] jcohenadad commented on #11
Thank you @zelenkastiot we can close then

[2021-07-27 16:53] #11 closed

[2021-07-27 17:58] jcohenadad commented on #13
I added the documentation to install and build the notebook locally in 76046f3521387fab532edb343c34fe2eaf60b9fe

[2021-07-27 18:32] jcohenadad opened #14 "spinalcord_results/ should be fetched from the release, not put under the repository"
Currently, CSV results are sitting in this repository. It is not elegant (duplication) and prone to error.

Ideally, the code would fetch the CSV results directly from the GH release assets (eg: https://github.com/courtois-neuromod/anat-processing/releases/tag/r20210610). But, is this possible with notebook?  IIUC we need to provide ALL the sources, so maybe not possible...

or as a workaround, we

[2021-07-27 18:36] jcohenadad opened #15 "Automatically build the Jupyter book using Github actions"
- [x] Implement automatic build using github actions. See https://github.com/courtois-neuromod/anat-processing-book/issues/13#issuecomment-887595960
- [x] Once the automatic build is implemented we should add "_build" in the .gitignore file ASAP, so we minimize fat accumulation in the repos

[2021-07-27 18:59] zelenkastiot commented on #14
Hi @jcohenadad, so the thing is that file was there by accident.  Earlier this morning I added locally to fix the issues and left them there. In the binder session I am downloading them and unzipping them with the <code><a href="https://github.com/courtois-neuromod/anat-processing-book/blob/main/postBuild#L1">postBuild</a></code>:

[code]

[2021-07-27 20:09] zelenkastiot opened #16 "Binder error"
I think that there is an error in the JupyterLab MyBinder session since we moved the files out of the root:

![image](https://user-images.githubusercontent.com/37374247/127220269-2752e7c3-34b2-491b-807f-c91772265619.png)

Possible solutions I can think of are:
- have all the files in the root in a new branch, which would be edited here:

https://github.com/courtois-neuromod/anat-processing-book/bl

[2021-07-28 02:27] jcohenadad commented on #16
ooops! 😬  Sorry.

Is that something that you can change on your Binder config?  For example, when I compile locally with the sources moved, I just point to the source folder:
[code]

Also, what do you use Binder for?

I changed it because I found it cleaner to enclose the source of the book at one location (ie: separate from the jupyter book config files). Other projects seem to also do it:
- http

[2021-07-28 03:01] jcohenadad opened #17 "add comments in the _config.yml"
this file has comments-- it is VERY useful: https://github.com/naturalistic-data-analysis/naturalistic_data_analysis/blob/master/_config.yml

we should do it as well

[2021-07-28 03:03] jcohenadad opened #18 "Instruct in README how to build locally but not in the source folder"
otherwise it creates crap that git is tracking

[2021-07-28 09:31] zelenkastiot commented on #16
No worries, we use Binder for reproducing the plots from the notebooks. We don't have to use it, we can use Google Colab instead. I have both linked 😄

![image](https://user-images.githubusercontent.com/37374247/127299291-940dc006-9b32-4121-a09a-38929efed2c5.png)

[2021-07-28 09:33] zelenkastiot commented on #17
Sure thing, will include them in the next build.

[2021-07-28 13:56] #18 closed

[2021-07-28 14:05] jcohenadad opened #19 "How results are fetched now that `spinalcord_results/` was removed"
After b2b2046823ec75a17c697252e27adf4154d3d558 (see context: https://github.com/courtois-neuromod/anat-processing-book/issues/14), the folder "spinalcord_results/" was removed.

However, when building the documentation _locally_, even though the folder is not there, the plots are properly generated:

![Screen Shot 2021-07-28 at 9 58 16 AM](https://user-images.githubusercontent.com/2482071/12733613

[2021-07-28 14:24] zelenkastiot commented on #19
So the trick is that the plot is cached inside the notebook. When you build it, you go from the existing notebook to an HTML you do not run the notebook.

If you try to run it, in a jupyter notebook interface then you will run into an error of missing data, but if you build the book it will always show it.

That's how we resolve not having the data in the repo. We run the plots locally with the re

[2021-07-28 14:29] jcohenadad commented on #19
I see, but when I build the book locally using [these instructions](https://github.com/courtois-neuromod/anat-processing-book#build-the-notebook-locally), how come it can fetch the data?

[2021-07-28 14:53] zelenkastiot commented on #19
I am a Windows user, but of my humble bash knowledge:

1. `chmod +x postBuild`
2. `./postBuild`

Should work for Linux, Mac

[2021-07-28 15:53] jcohenadad commented on #19
I don't think it does, hence my misunderstanding of the whole process 😅

<details><summary>Terminal output of the build</summary>

[code]

</details>

And these commands don't return anything:
[code]

[2021-07-28 15:59] jcohenadad opened #20 "Pandas DataFrame declared is not used to generate the plot"
Here:

![image](https://user-images.githubusercontent.com/2482071/127355887-30a4df36-f3bc-4136-a408-dd687de36e7b.png)

In section 1, a pandas dataframe is declared as "df", however this variable is not used in section 2 (below) that is responsible to generate the plot.

Maybe it is related to fact that the data used to declare the dataframe are in fact never used to generate the plot? Possibly rel

[2021-07-28 18:28] jcohenadad commented on #7
Now implemented by the great @zelenkastiot 🚀

[2021-07-28 18:28] #7 closed

[2021-07-28 18:29] jcohenadad commented on #6
This issue is now fixed

[2021-07-28 18:29] #6 closed

[2021-07-28 18:29] jcohenadad commented on #9
This issue is now fixed

[2021-07-28 18:29] #9 closed

[2021-07-29 17:52] zelenkastiot commented on #20
Hi @jcohenadad, so this is another "trick". Here is the notebook: https://nbviewer.jupyter.org/github/courtois-neuromod/anat-processing-book/blob/main/source/results/1-test.ipynb

As you can see here in these cells (open the link above since the resolution is small):
![image](https://user-images.githubusercontent.com/37374247/127540299-a48a22dc-2def-42bc-a5a7-8c4eb4e74a1b.png)

I use the data fram

[2021-07-29 20:30] jcohenadad commented on #20
I see... to be honest I find it rather confusing because readers of the book might want to copy paste the code to reproduce it and they won't be able to do it. And looking at the entire jupyter book, there is a _lot_ of lines responsible for data reformatting, custom plotting, etc. @mathieuboudreau what was your approach when you did the T1 mapping book? Did you also have hidden cell? Was the main

[2021-07-29 20:33] jcohenadad opened #21 "README put by mistake?"
https://github.com/courtois-neuromod/anat-processing-book/blob/main/source/results/README.md

[2021-07-29 20:35] jcohenadad opened #22 "HTML in source?"
i found this: https://github.com/courtois-neuromod/anat-processing-book/blob/main/source/results/new-fig-2.html

i thought the HTML material was only in the built (not source) folder?

[2021-07-30 00:22] mathieuboudreau commented on #20
I'm not sure I fully understand some of the discussion in this issue, but I can say that there were some parts of my books that were more suitable to being run in the Jupyter Book directly than others (e.g. long simulations). My preference has always been to *show* the code in the Jupyter Book, but to recommend users use the MyBinder/Jupyter platform directly if they want to edit code. We can disc

[2021-07-30 00:52] zelenkastiot commented on #20
Yes, I will!

On Fri, Jul 30, 2021, 02:22 Mathieu Boudreau ***@***.***>
wrote:

[2021-07-30 01:15] jcohenadad opened #23 "Add qMRI microstructure results to spinal cord analysis"
The following [results](https://github.com/courtois-neuromod/anat-processing/releases/download/r20210610/spinalcord_results.zip) should be added as an interactive figure:
- DWI_FA.csv
- DWI_MD.csv
- DWI_RD.csv
- MTR.csv
- MTsat.csv
- T1.csv

The column to extract is `WA()`.

Like for the T1w and T2w CSA, group per subject and show each session as a dot.

[2021-07-30 01:16] jcohenadad opened #24 "Add T2s results to spinal cord analysis"
The following [results](https://github.com/courtois-neuromod/anat-processing/releases/download/r20210610/spinalcord_results.zip) should be added as an interactive figure:
- csa-GM_T2s.csv

The column to extract is `MEAN(area)`.

Like for the T1w and T2w CSA, group per subject and show each session as a dot.

[2021-07-30 11:44] zelenkastiot commented on #22
Hi @jcohenadad, this is the output that is seen inside the cell. The plotly <code>plot</code> function from the ploty.offline save outputs as HTML and we store that in the notebook.

[2021-07-30 11:46] zelenkastiot commented on #21
Hi @jcohenadad, according to the commit log you have added the file. Should I delete it?

[2021-07-30 12:04] zelenkastiot commented on #17
I added comments in the newest build 😄

[2021-07-30 12:07] zelenkastiot commented on #16
I fixed the error when running the notebook on Binder. I added the path of the book inside the config!

https://github.com/courtois-neuromod/anat-processing-book/blob/150eea141e7cb34d07059b6e6c10332127770dae/source/_config.yml#L49

I will close this issue.

[2021-07-30 12:07] #16 closed

[2021-07-30 13:05] jcohenadad commented on #21
it was already there before, i just moved it in bc48ae65029201f3f88697de87623bd19c364831 when reorganizing the folder structure:
![image](https://user-images.githubusercontent.com/2482071/127656962-69de7b5f-889e-47ea-b2d3-79a778dd8f08.png)

so yes, i guess you can delete it if it was put by mistake at the first place

[2021-07-30 13:06] jcohenadad commented on #13
redirected to #15
we can close this issue

[2021-07-30 13:06] #13 closed

[2021-07-30 13:10] jcohenadad commented on #22
Isn't that something that we can generate on the fly before shipping all the content to the server hosting the book? related to #15

[2021-07-30 13:12] jcohenadad commented on #17
Brilliant! For the record, comments were added in 150eea141e7cb34d07059b6e6c10332127770dae

@zelenkastiot in the future can you please refer to the exact commit when you address an issue? In general we work with PRs, but in this case we are in a rush so we push to master directly so we need to have a reliable and convenient way to inspect changes made to the repos. Thank you.

[2021-07-30 13:12] #17 closed

[2021-07-30 14:22] jcohenadad opened #25 "Why "-2"?"
Here: https://github.com/courtois-neuromod/anat-processing-book/blob/main/source/results/1-test.ipynb

![image](https://user-images.githubusercontent.com/2482071/127667162-aca379ce-e155-4883-8a9f-06f4318f4281.png)

[2021-07-30 14:23] jcohenadad opened #26 "What is the best way to comment on .ipynb files?"

[2021-07-30 14:24] jcohenadad opened #27 "Should notebooks have the outputs?"
Currently the notebooks (eg: 1-test.ipynb) include the outputs, which adds fat to the repository. Is this necessary given that the HTML should be generated by the build?

[2021-07-30 14:36] jcohenadad commented on #12
@alexfoias do you mind taking this over?

[2021-07-30 14:45] jcohenadad opened #28 "Remove duplicated notebook"
https://github.com/courtois-neuromod/anat-processing-book/blob/c3dd7c66ba345ef0fd9abf40cff7effda636228f/source/_config.yml#L45

[2021-07-30 14:57] jcohenadad opened #29 "The code to generate the figures is complex and highly-customized"
I know we won't solve this issue for the current book, but I wanted to raise this issue: I wanted to reuse the code to make other figures, but the code is currently extremely complicated and highly customized (ie: hard-coded number of subjects, etc.).

I would like very much to see is simplified.

[2021-07-30 15:02] jcohenadad commented on #14
Indeed, I understand now that it is _not_ in the repos, but fetched by the post build. However, if we want full reproducibility of the jupyter notebook, we need the data to be fetched _inside_ the notebook.

[2021-07-30 15:05] jcohenadad commented on #15
@agahkarakuzu do you think you could help with this?

[2021-07-30 15:08] jcohenadad commented on #19
The reason results appear is because they are _not_ generated by the build, but are _already_ sitting in the jupyter notebook which is already in the repository: source/results/1-test.ipynb

[2021-07-30 15:08] #19 closed

[2021-07-30 15:10] #22 closed

[2021-07-30 15:11] jcohenadad commented on #20
The data are _already_ inside the notebook. Related to: #19

[2021-07-30 15:11] #20 closed

[2021-07-30 15:14] jcohenadad commented on #25
After discussion, the "-2" should _not_ be there.

[2021-07-30 15:15] jcohenadad commented on #26
not a good solution for that :-(

[2021-07-30 15:15] #26 closed

[2021-07-30 15:23] alexfoias commented on #12
sure I can work on it. Where do we have the references ?

[2021-07-30 15:24] alexfoias commented on #12
Can one of you please assign me to the issue ? thanks.

[2021-07-30 15:28] jcohenadad commented on #27
After discussion with the team, we decided to remove the outputs from the notebooks. However, the plots are _included_ in the notebooks, which is why they are 3-4MB. If we clear the output and build the book locally, the plots won't be rendered anymore.

So the strategy we should do is:
- execute the jupyter notebook (either manually or with GH action)
- build the jupyter book --> it will create t

[2021-07-30 15:47] jcohenadad commented on #12
So, currently there are only 1-2 references listed because I still need to write the article 😅
But you can already give it a try. I've hard-coded the URL of the refs [here](https://courtois-neuromod.github.io/anat-processing-book/introduction/introduction.html).

[2021-07-30 16:38] agahkarakuzu commented on #15
I'll look into this @jcohenadad

[2021-07-30 17:39] agahkarakuzu commented on #15
@jcohenadad can you please add a repo-scoped personal access token to this repo named `GHA_PAT` ? Looks like I don't have privileges to do so.

[2021-07-30 17:43] jcohenadad commented on #15
i added you as admin:
![image](https://user-images.githubusercontent.com/2482071/127691712-3a851794-9655-488b-8091-6b00f3193933.png)

[2021-07-31 00:48] zelenkastiot commented on #25
Issue resolved with: 209578d9e0087ea77898e10752d9d75ce3dd747f

[2021-07-31 00:48] zelenkastiot commented on #28
Issue resolved with: 209578d9e0087ea77898e10752d9d75ce3dd747f

[2021-07-31 00:48] zelenkastiot commented on #21
Issue resolved with: 209578d9e0087ea77898e10752d9d75ce3dd747f

[2021-07-31 00:50] #14 closed

[2021-07-31 12:36] #25 closed

[2021-07-31 12:36] #28 closed

[2021-07-31 12:37] #21 closed

[2021-07-31 13:59] zelenkastiot commented on #24
Hi @jcohenadad, I added this figure (2955008fcd9407c2ca182e6aaf8001d68213b8bf)
![image](https://user-images.githubusercontent.com/37374247/127742175-e47b157b-ce1d-4183-a7e6-b8a9803a8a7c.png)

[2021-07-31 14:08] jcohenadad commented on #24
Amazing! Few comments:
- replace title by: Spinal cord gray matter CSA
- No need for (2) in title
- No need for a legend

[2021-07-31 14:28] jcohenadad commented on #21
Small comment: https://github.com/courtois-neuromod/anat-processing-book/commit/209578d9e0087ea77898e10752d9d75ce3dd747f includes many other changes, making it difficult to review the commit. In the future please only include few and isolated changes in commits

[2021-07-31 14:29] jcohenadad commented on #25
The commit includes many other changes, making it difficult to review

[2021-07-31 14:31] zelenkastiot commented on #21
Sorry, I realized when I was pushing that I changed multiple things. Won't happen in the future

[2021-07-31 15:08] zelenkastiot commented on #24
I modified the plot's title and removed the legend in this commit: 4e879971b118bc1fe9efa679c8317cde8c9cec3a

[2021-07-31 15:13] zelenkastiot commented on #23
Hi @jcohenadad , I added this figure (901b43f85288dd97c8c21c2d74feef3d42661a3f)

![image](https://user-images.githubusercontent.com/37374247/127744317-66ca573d-466f-48b4-b254-7712c35f6b56.png)

Wasn't sure about the title or the unit for <code>WA()</code>

[2021-07-31 18:35] jcohenadad commented on #23
The title is great. The unit is metric-dependent so i suggest putting it directly in the legend in case you cannot have a different ylabel when you select a different metric. Some metrics are unitless

the legend would be:
FA
MD [mm^2/s]
RD [mm^2/s]
MTR
MTsat
T1 [s]

[2021-07-31 21:55] zelenkastiot commented on #23
I added the plot with this commit: 7b307fd922907d4158bfa809c692e7e3786bdee4

I have made ylabel customizable so I added the units there + you have the unit of the metric on hover

![image](https://user-images.githubusercontent.com/37374247/127753206-aee85880-99f9-40a2-9086-4f91a8d2f478.png)

[2021-07-31 22:01] zelenkastiot opened #30 "Example notebook (brain data) plot review"
Hi @jcohenadad, just wanted to double-check the plot in the second chapter. Is it okay?

Lin to notebook: https://courtois-neuromod.github.io/anat-processing-book/results/2-test.html

![image](https://user-images.githubusercontent.com/37374247/127753308-14a42c45-0128-4171-b00c-0b2265854588.png)

[2021-08-01 22:09] jcohenadad commented on #30
great! few comments
- ylabel: replace "s (seconds)" by "X [y]", with X: the name of the metric (eg: T1) and y the unit.
- change title for: Brain gray matter qMRI microstructure
- Do another plot for the white matter

[2021-08-01 22:14] jcohenadad opened #31 "Automatically find ymin/ymax in plots"
Currently, ymin/max are hard-coded for each plot, which makes the code poorly reusable. A suggestion would be to find the min/max from the data, and set the ymin/ymax to be:
- `ymax = max + (max-min)/4`
- `ymin = min - (max-min)/4`

[2021-08-01 22:19] jcohenadad commented on #23
Brilliant! Can you please remove the "WA()" in the displayed message? Because people won't know what the acronym means. You can keep the rest.

[2021-08-02 00:42] zelenkastiot commented on #23
Modified the hoverinfo: 7e70aa2d31c3fe7942bb5d8fd19199b15d185359

[2021-08-02 00:52] zelenkastiot commented on #30
Added everything in this commit: 4eeb1d1d93e5554ef78d8d56e2ac5111bb77cf77. Looks better now

[2021-08-02 00:54] zelenkastiot commented on #31
Hi @jcohenadad, yes I know. I plot them around the mean (plus/minus values). I will try to implement this

[2021-08-02 00:54] jcohenadad commented on #30
Inconsistency ("3" is missing):

![image](https://user-images.githubusercontent.com/2482071/127791115-19404715-ce1e-4641-936d-df99bc76a365.png)

I suggest to remove the number. It is useless and prone to human error.

[2021-08-02 00:55] jcohenadad commented on #30
![image](https://user-images.githubusercontent.com/2482071/127791143-7b63bfd5-7304-4d78-8c62-3040aadca50c.png)

write "a.u." instead of "a.u"

[2021-08-02 00:56] zelenkastiot commented on #30
Do you want me to remove the numbers in the dropdown for all plots?

[2021-08-02 00:57] jcohenadad opened #32 "Mix between subjects?"
These two plots for the brain and spinal cord show a different number of sessions. I suspect a mixup between subject numbering (eg: subject 4 in spinal cord corresponding to subject 5 in the brain):

![Screen Shot 2021-08-01 at 8 56 18 PM](https://user-images.githubusercontent.com/2482071/127791265-38e1f4b7-c1f0-4082-a74c-a77cb37a0e78.png)

![Screen Shot 2021-08-01 at 8 56 01 PM](https://user-imag

[2021-08-02 01:02] jcohenadad opened #33 "Include all the code to generate the plots"
As discussed in meeting, the strategy is to have _all_ the code used to generate the figure inside the jupyter book, and expandable in one cell.

currently it is split into two cells:

![image](https://user-images.githubusercontent.com/2482071/127791437-e6c6a535-16ea-4756-87b0-054ff8be5a11.png)

[2021-08-02 01:31] zelenkastiot commented on #32
If understood correctly the issue is the correct subjects displayed in the plots.  But, according to this output, which extracts the values/sessions/subjects, what it displays in coresponds to the csv data.

- Output/plotting in code:

![image](https://user-images.githubusercontent.com/37374247/127792482-1408f791-5edc-459e-b67d-b94a7b54ce9d.png)

- Rows in spinal data [`csa-GM_T2s.csv`]:

![image]

[2021-08-02 01:35] jcohenadad commented on #32
OK, it should be fine then. So we need to understand why the number of sessions differ between the brain and the spinal cord results. Do you mind digging into that?

[2021-08-02 01:37] zelenkastiot commented on #32
Sure, I will look into it. Brief you tomorrow

[2021-08-02 01:46] zelenkastiot commented on #30
I fixed the dropdown menus for all the plots: 53ca38517a7675062e9f12df9be18a285179ade9 (sorry in advance if there are multiple changes, I already removed all the redundant numbers when I read that we need to re-arrange the table of content 😅 )

[2021-08-02 01:47] zelenkastiot commented on #33
I renamed notebooks, added chapters, sub-headings and included all the code: 53ca38517a7675062e9f12df9be18a285179ade9

[2021-08-02 10:55] zelenkastiot commented on #31
Hi @jcohenadad, I added two functions for calculating the limits on the y-label: 3641d9e6e283c466b401bc76bdb86a65d54e034d

If they look confusing, this is what they do:
- Firstly the input is the matrix for that trace, which can be either:
  - Single matrix for that trace (if there is only one metric displayed)
  - Concatenated (double) matrix for that trace (if there is a comparison between two m

[2021-08-02 15:07] jcohenadad commented on #31
@zelenkastiot could you please comment directly in the code-- if someone reads the code they will not understand these tricks
things to comment:
- the 100 value trick
- the purpose of each function (a good habit in python is to use a triple quote to describe what the function does)

[2021-08-02 15:10] jcohenadad opened #34 "Font size inconsistent"
![image](https://user-images.githubusercontent.com/2482071/127883483-90f67ab8-0433-4c47-a100-4b3df7b5f190.png)

ylabel font size is bigger than in other plots

could you please use a global variable so the font size can be defined not at each plot individually, but using a global variable

[2021-08-02 15:11] jcohenadad opened #35 "Add ylabel for SC results"
like for the brain, pls add ylabel (with units in []) for spinal cord results:

![image](https://user-images.githubusercontent.com/2482071/127883733-73220f39-e9b6-4828-ba4c-9b350f99acb6.png)

[2021-08-02 15:14] jcohenadad commented on #31
Also: I realized the `get_limit_min/max()` code is duplicated across all plots, which is usually something to avoid in computer programming. Could you please remove this duplication (eg: create a series of functions used by all the plots in the book)

[2021-08-02 15:15] zelenkastiot commented on #31
Sure thing! I will add the comments and remove the duplicate code fragments

[2021-08-02 15:26] zelenkastiot commented on #31
Although, generally speaking, what if someone wants to run the second plot and all the functions are in the code cell for the first plot above. One has to go and fetch them one by one?

[2021-08-02 15:35] zelenkastiot commented on #31
By this you mean to have a python script from which I import functions?

[2021-08-02 15:41] jcohenadad commented on #31
yes, for example. @mathieuboudreau mentioned it when he described what he did for his T1 mapping book.

[2021-08-02 15:43] zelenkastiot commented on #31
Cool, I will try to implement this by tonight

[2021-08-02 15:44] zelenkastiot commented on #34
I managed to add variables for the font-sizes: 23d2a82380d2f6f06bac48c0192cc5d2dcc2c0ec

[2021-08-02 15:45] zelenkastiot commented on #35
Do you want this to be implemented specifically for this plot (the first in the notebook), all for all plots in the spinal data notebook?

[2021-08-02 15:57] jcohenadad commented on #35
all

[2021-08-02 15:59] jcohenadad commented on #35
also, this should _ideally_ not be hard-coded/duplicated-- as @mathieuboudreau mentioned the code snippet to fetch the label name and display it in the ylabel should sit in a separate function. There is _way_ too many hard-coded customization for each plot in this codebase and it would be a good moment to start removing some of that duplication and centralizing it somewhere

[2021-08-02 16:15] zelenkastiot commented on #35
I 100% agree, but that requires re-coding most of the code. A similar discussion  -- #29

[2021-08-02 16:52] mathieuboudreau commented on #35
Hi @jcohenadad,

I just had a Zoom call with @zelenkastiot discussing refactoring strategies (e.g. removing duplication, centralizing hard-coded numbers, writing comments for complicated/hardcoded things that can't be simplified, etc).

One open-ended questions Kiril has is how much time he should be spending on this type of task, or what priority is it right now. Would it be possible to provide p

[2021-08-02 17:12] jcohenadad commented on #35
It is difficult to provide a satisfactory answer. The short answer would be: the refactoring is lower priority, **but** doing the refactoring, in some cases, is more time efficient (both for Kiril and me) because (i) the future tweaks would be more easily implemented and (ii) there would be less errors which are directly caused by a complex and duplicated codebase (eg #34, #25). These errors ultim

[2021-08-03 05:41] agahkarakuzu commented on #15
Thank you Julien, I'll implement this today. @zelenkastiot can I count on that the notebooks in the source folder are saved with outputs, otherwise my attempts will ruin gh-pages content.

[2021-08-03 10:14] agahkarakuzu commented on #15
I set the GitHub actions and ignored _build from git history. #37

It is working, the page is rendered properly, will be triggered on each push to the `main`, you can see the builds, successful from the get go:

https://github.com/courtois-neuromod/anat-processing-book/actions

[2021-08-03 13:49] agahkarakuzu opened #38 "Spinal cord T1 values"
I think there's something wrong with unit conversions, I am no expert in spinal cord WM, but would not expect T1 values to be around 1-1.7 ms:

![image](https://user-images.githubusercontent.com/9632322/128024592-7c8ed8d7-05d3-4a4f-961a-9ec635e67f20.png)

I went ahead and check the figure in spine generic documentation:

![image](https://user-images.githubusercontent.com/9632322/128025832-cbd952f2

[2021-08-07 08:32] jcohenadad commented on #15
fixed in #37

[2021-08-07 08:32] #15 closed

[2021-08-12 19:19] jcohenadad commented on #38
wow! nice catch @agahkarakuzu
@alexfoias can you pls identify where the problem is (likely in spine-generic) and fix it? thx

[2021-08-12 19:46] alexfoias commented on #38
Sure I can take a look. Could someone please assign me to the issue ? thanks.

[2021-08-18 13:41] jcohenadad commented on #38
@alexfoias any update?

[2021-08-19 19:21] alexfoias commented on #38
@jcohenadad Figured out what happened here: https://github.com/courtois-neuromod/anat-processing-book/pull/39

[2021-08-27 14:38] jcohenadad opened #40 "Remove all "mean" mentions in the legend"
In plots like this one:
![image](https://user-images.githubusercontent.com/2482071/131144474-3192f008-89d3-4bc7-9287-6faec9d0d8c6.png)

We don't need to add the 'mean' in the legend. We will simply mention it in the figure caption (along with an explanation about the STD).

[2021-08-27 15:05] jcohenadad opened #41 "Automatically build notebook with Github Actions"
After #15, the book is automatically built (which is great!).

However, when we make a change to the notebook, we still have to build it locally. It would be great if this step would also be automatized.

Note: the build of the notebook would need to be done _before_ building the book.

Possibly useful resource: https://github.com/marketplace/actions/run-notebook

Related to #27

[2021-09-03 14:40] mathieuboudreau commented on #40
@zelenkastiot can you handle this issue?

[2021-09-03 14:41] mathieuboudreau commented on #41
@agahkarakuzu do you know if this would be possible? (i.e. executing the Jupyter Notebook with GitHub actions prior to the book build, so that we can push cleared notebooks?)

[2021-09-03 14:44] mathieuboudreau commented on #32
Pinging @zelenkastiot – any ETA on looking into this?

[2022-03-30 19:27] alexfoias commented on #12
@jcohenadad who should I pass this issue to ?

[2022-03-30 19:41] jcohenadad commented on #12
no need to always assign someone, just deassign yourself

[2022-04-28 02:58] mathieuboudreau opened #42 "Version 2 - Itemized plan / to-do list"
branch: [v2](https://github.com/courtois-neuromod/anat-processing-book/tree/v2)

This issue is to centralize the action plan for revamping this book (version 2), which we are doing from scratch.

It's mostly a list for myself, which I'll update as I go along, but writing it out here for transparency, feedback, and to follow progress.

**Create new branch**

* [x] Branch out from master to "v2" bra

[2022-05-26 13:43] mathieuboudreau commented on #42
@jcohenadad I've made substantial progress, but there is still work to do, in particular with extending some of my new features to be compatible with the spine datasets.

Here are the major updates so far:

* Created a new book from template from the latest version of Jupyter Book, so all their current documentation are compatible with out book now.
* Created a [Data class](https://github.com/cour

[2022-06-03 18:10] mathieuboudreau commented on #42
Update: I've integrated and refactored a bit the spinal cord cross sectional WM T1w/T2w plots. The only plots missing to be reproduced are one of the spinal GM T1w/T2w plots, and the spinal cord qMRI plot (MTR, T1, etc). This should be straightforward though.

After those are made, I'll remove the old "Kiril" section in the book and will merge it as a first version.

Note however, that because of

[2022-06-07 13:54] #40 closed, assigned to nobody

[2022-06-07 13:56] #41 closed, assigned to nobody

[2022-06-07 14:02] mathieuboudreau commented on #27
In the V2 branch, I found a better strategy which resolves this.

Cells with outputs (excluding the figure plotting cell) can hide input by using the [cell tags `hide-output`](https://jupyterbook.org/en/stable/content/metadata.html). This way, notebooks can be saved with outputs cleared (leading to minimial file size), and the GitHub actions build will automatically run the cells prior to generati

[2022-06-07 14:02] #27 closed

[2022-06-07 14:43] mathieuboudreau commented on #29
Working on in V2

[2022-06-07 15:03] jcohenadad opened #44 "Add diffusion processing"

[2022-06-15 01:53] #12 closed

[2022-06-15 02:50] mathieuboudreau commented on #42
Resolved in #43

[2022-06-15 02:50] #42 closed

[2022-06-16 18:24] jcohenadad opened #51 "Separate white and gray matter for spinal cord morphometry"
The idea would be to have two figures:

- figure 1: spinal cord white matter morphometry: combo box: {T1, T2}; no legend
- figure 2: spinal cord gray matter morphometry: single choice: T2* (no combo box, no legend)

[2022-06-16 18:44] mathieuboudreau commented on #32
Bug resolved in V2

[2022-06-16 18:44] #32 closed

[2022-06-23 13:14] #51 closed

[2022-06-23 13:15] mathieuboudreau commented on #29
Resolved in the version 2 release

[2022-06-23 13:15] #29 closed

[2022-09-06 18:26] jcohenadad opened #59 "Add statistics"
After each plot it would be important to compute the following distribution statistics, and display as a table:
- row: stats mean +/- SD; column: qMRI metric
- stats:
  - **Intra-subject COV**: Compute COV per subject and then display average and SD across subjects.
  - **Inter-subject COV**: Compute mean per subject and then compute inter-subject COV (based on the mean per subject)

[2022-09-06 18:28] jcohenadad opened #60 "Make a results section"
This section will include Brain and spinal cord data

[2022-09-06 18:28] jcohenadad opened #61 "Add a Discussion section"

[2022-09-13 13:06] mathieuboudreau commented on #59
Statistics tables were added to the Jupyter Book in their respective sections. By the looks of it, the CoVs for quantitative measures are much worse in brain than spine; I'm wondering if this could be due to bad segmentations more than biological/mri variability.

[2022-09-14 13:09] jcohenadad commented on #59
I assume this is not in percent?
![image](https://user-images.githubusercontent.com/2482071/190162530-1b1f8b15-30f3-4beb-a976-f0e1d29b80fa.png)

could you pls put it in percent (fairly common) and make it explicit in the column: "intrasubject CoV mean [%]"
thx

[2022-09-14 13:21] mathieuboudreau commented on #59
Sorry, I wasn't clear enough with what I meant. I meant the COVs within the brain (MTR, MTsat, and T1) vary much more than the COVs within the spine. eg in the brain, intrasubject MTR COV is 0.008 and MTsat COV is 0.064 (8x more), whereas in the spine MTR COV is 0.051 and MTsat is 0.079 (only ~1.5 more)

[2022-09-14 13:24] mathieuboudreau commented on #59
If you look at the figures, this intrasubject variabilities in the WM for non-MTR metrics become much more apparent.

## MTR

<img width="789" alt="Screen Shot 2022-09-14 at 10 22 39 AM" src="https://user-images.githubusercontent.com/1421029/190165986-841b0071-e537-4825-8dce-f2887432cdc0.png">

## MTsat

<img width="789" alt="Screen Shot 2022-09-14 at 10 22 31 AM" src="https://user-images.githubus

[2022-09-14 13:30] mathieuboudreau commented on #59
Also MTR vs MTsat, note that MTR measurements are a subset of MTsat, so there's something really questionable with the much larger variability for MTsat...

[2022-09-14 13:31] mathieuboudreau commented on #59
I guess a few more actually, because B1 is added too in MTsat

[2022-09-14 13:32] jcohenadad commented on #59
i see, yes, i agree. It would be worthwhile:
- checking the brain masks used to compute MTR
- making sure the MTR acq params were correct for subj4 (looks suspiciously different)

[2022-09-14 13:52] mathieuboudreau commented on #59
✅ Done converting COVs to [%]

## Brain

<img width="786" alt="Screen Shot 2022-09-14 at 10 48 58 AM" src="https://user-images.githubusercontent.com/1421029/190172218-b036a36e-e7ae-4bd3-a6a5-5f70caa7d8d0.png">

## Spinal cord

<img width="786" alt="Screen Shot 2022-09-14 at 10 50 47 AM" src="https://user-images.githubusercontent.com/1421029/190172567-9d7fdc8c-c65b-46c0-af31-05472a1d58bc.png">

<im